[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[user]
	name = zeagle
	email = zeagle01@163.com
[rerere]
	enabled = false
[merge]
	conflictstyle = diff3
	tool = vimdiff
